{% extends "layout.html" %} {% block content %}

<div class="page-header">
  <h1>Welcome to Twitter.js!</h1>
</div>
<div class="row">
  <div class="col-md-3">
    <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg">
    <br>
    <b>Your Name</b>
    <br> 100 followers
    <br>
    <br> {% if showForm %}
    <form action="/tweets"
          method="POST">
      <label for="name_field">Name:</label>
      <input name="name"
             type="text"
             value="{{name}}"
             id="name_field" />
      <br>
      <label for="text_field">Text:</label>
      <textarea name="text"
                id=""
                cols="20"
                rows="5"
                id="text_field"></textarea>
      <br>
      <input type="submit"
             value="Submit" />
    </form>
    {% endif %}
  </div>
  <div class="col-md-9">

    <!-- display tweets here -->
    <div class="list-group"
         id="lista">
      {% for tweet in tweets %}
      <a href="/tweets/{{tweet.id}}"
         class="list-group-item">
        <h4 class="list-group-item-heading">{{tweet.name}}</h4>
        <p class="list-group-item-text">{{tweet.content}}</p>
      </a>
      {% endfor %}
    </div>



  </div>
</div>

{% endblock %}